@import "../styles/globals-sass";

:host {
  background-color: rgba($color: #000000, $alpha: 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  overflow-y: auto;
  padding: 100px; 
}
    
:host .mb-modal {
    
    position: relative;

    background-color: #ffffff;

    width: 100%;
    max-width: 320px;

    .title {
        margin-top: 24px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .content {
        margin: 24px 0 24px 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;

        &.centered {
            text-align: center;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        button {
          width: 126px;
          height: 32px;
          border-radius: 0;
          border: 0;
          background: #48B2E8;
          color: #ffffff;
          cursor: pointer;
        }
    }
}
    
