*
{
    box-sizing: border-box;
}

html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
}

body
{
    max-width: 960px;
    min-height: 100%;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    background-color: #eee;
}